<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment.html :: header (pageTitle='Kê khai thuế thu nhập cá nhân')"></head>

<body>
	<div class="main">
		<div th:insert="fragment.html :: sidebar"></div>

		<div class="content">
			<div class="title-nav">
				<span class="text_tt">Trang chủ » </span>
				<span class="red_b">Kê khai thuế</span>
			</div>
			<form id="declarationForm" action="">
				<div class="box_common_content">
					<table class="form_table">
						<tbody>
							<tr>
								<td style="text-align: right; width: 30%">Chọn tờ khai</td>
								<td style="text-align: left">
									<select name="mauTKhai" id="mauTKhai" style="width: 530px">
										<option value="KKTNCN02" selected>
											02/KK-TNCN - Tờ khai thuế thu nhập cá nhân mẫu số 02/KK-TNCN
										</option>
									</select>
								</td>
							</tr>
							<td></td>
							<td>
								<input style="margin-left: 230px" type="button" value="Tiếp tục" id="btnCon" class="inputBtn" />
							</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
	<div th:insert="fragment.html :: footer"></div>
</body>

</html>