<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment.html :: header (pageTitle='Kê khai thuế thu nhập cá nhân')"></head>

<body>
	<div class="main">
		<div th:insert="fragment.html :: sidebar"></div>
		<div class="content">
			<div class="title-nav">
				<span class="text-nav">Trang chủ » </span>
				<span class="nav-now">Kê khai thuế</span>
			</div>
			<h1 style="text-align: center;">Tờ khai thuế thu nhập cá nhân</h1>
			<i style="text-align: center; display: block;">(Áp dụng cho cá nhân cư trú và cá nhân không cư trú có thu nhập từ tiền lương, tiền<br /> công khai thuế trực tiếp với cơ quan thuế)</i>
			<form id="declarationForm" action="">
				<div class="box-common-content">
					<table class="form-table">
						<tbody>
							<tr>
								<td style="width: 45%">Kỳ tính thuế</td>
								<td style="text-align: left">
									<select name="kyTinhThue" id="kyTinhThue" style="width: 387px">
										<option value="Q" selected>Quý</option>
										<option value="T">Tháng</option>
									</select>
								</td>
							</tr>

							<tr id="quy">
								<td style="width: 45%">Quý kê khai</td>
								<td style="text-align: left">
									<select name="quyKeKhai" id="quyKeKhai" style="width: 217px">
										<option value="1" selected>Quý 1</option>
										<option value="2">Quý 2</option>
										<option value="3">Quý 3</option>
										<option value="4">Quý 4</option>
									</select>
									<label>Năm</label>
									<input id="namKeKhaiQuy" style="width: 105px" type="number" min="1900" max="2099"
										step="1" value="2022" />
									<br /><label id="loiNamQuy" style="color: red"></label>
								</td>
							</tr>

							<tr id="thang" style="display: none">
								<td style="width: 45%">Tháng kê khai</td>
								<td style="text-align: left">
									<select name="thangKeKhai" id="thangKeKhai" style="width: 220px">
										<option value="1" selected>Tháng 1</option>
										<option value="2">Tháng 2</option>
										<option value="3">Tháng 3</option>
										<option value="4">Tháng 4</option>
										<option value="5">Tháng 5</option>
										<option value="6">Tháng 6</option>
										<option value="7">Tháng 7</option>
										<option value="8">Tháng 8</option>
										<option value="9">Tháng 9</option>
										<option value="10">Tháng 10</option>
										<option value="11">Tháng 11</option>
										<option value="12">Tháng 12</option>
									</select>
									<label>Năm</label>
									<input id="namKeKhaiThang" style="width: 110px" type="number" min="1900" max="2099"
										step="1" value="2022" />
									<br /><label id="loiNamThang" style="color: red"></label>
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Loại tờ khai</td>
								<td style="text-align: left">
									<select name="loaiToKhai" id="loaiToKhai" style="width: 387px">
										<option value="1" selected>Lần đầu</option>
										<option value="2">Bổ sung</option>
									</select>
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Tên người nộp thuế</td>
								<td style="text-align: left">
									<input type="text" id="ten" name="ten" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Mã số thuế</td>
								<td style="text-align: left">
									<input type="text" id="maSoThue" name="maSoThue" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Địa chỉ</td>
								<td style="text-align: left">
									<input type="text" id="diachi" name="diachi" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Mã số thuế</td>
								<td style="text-align: left">
									<input type="text" id="maSoThue" name="maSoThue" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Quận/huyện</td>
								<td style="text-align: left">
									<input type="text" id="quanHuyen" name="quanHuyen" style="width: 113px" />
									<label>Tỉnh/thành phố</label>
									<input type="text" id="tinhThanhpho" name="tinhThanhpho" style="width: 113px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Điện thoại</td>
								<td style="text-align: left">
									<input type="text" id="dienThoai" name="dienThoai" style="width: 155px" />
									<label>Fax</label>
									<input type="text" id="fax" name="fax" style="width: 155px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Email</td>
								<td style="text-align: left">
									<input type="text" id="email" name="email" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Tên đại lý thuế</td>
								<td style="text-align: left">
									<input type="text" id="tenDaiLy" name="tenDaiLy" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Mã số thuế</td>
								<td style="text-align: left">
									<input type="text" id="maSoThueDaiLy" name="maSoThueDaiLy" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Địa chỉ</td>
								<td style="text-align: left">
									<input type="text" id="diachiDaiLy" name="diachiDaiLy" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Mã số thuế</td>
								<td style="text-align: left">
									<input type="text" id="maSoThueDaiLy" name="maSoThueDaiLy" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Quận/huyện</td>
								<td style="text-align: left">
									<input type="text" id="quanHuyenDaiLy" name="quanHuyenDaiLy" style="width: 113px" />
									<label>Tỉnh/thành phố</label>
									<input type="text" id="tinhThanhphoDaiLy" name="tinhThanhphoDaiLy"
										style="width: 113px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Điện thoại</td>
								<td style="text-align: left">
									<input type="text" id="dienThoaiDaiLy" name="dienthoaiDaiLy" style="width: 155px" />
									<label>Fax</label>
									<input type="text" id="faxDaiLy" name="faxDaiLy" style="width: 155px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">Email</td>
								<td style="text-align: left">
									<input type="text" id="emailDaiLy" name="emailDaiLy" style="width: 365px" />
								</td>
							</tr>

							<tr>
								<td style="width: 45%">
									Hợp đồng đại lý thuế
								</td>
								<td style="text-align: left">
									<label>Số</label>
									<input type="text" id="soHopDong" name="soHopDong" style="width: 137px" />
									<label>Ngày</label>
									<input type="text" id="ngayHopDong" name="ngayHopDong" style="width: 137px" />
								</td>
							</tr>
						</tbody>
					</table>
					<table class="form-table-khaithue">
						<tbody>
							<tr>
								<td colspan="3">
									Cá nhân cư trú có thu nhập từ tiền lương, tiền công
								</td>
								<td style="text-align: left">
									<input type="checkbox" id="coCuTru" checked />
								</td>
							</tr>

							<tr>
								<td>1</td>
								<td colspan="2">Tổng thu nhập chịu thuế phát sinh trong kỳ</td>
								<td style="text-align: left">
									<input value="0" type="number" id="thuNhapChiuThue" name="thuNhapChiuThue"
										style="width: 130px" />
									<br /><label style="color: red" id="loiThuNhap"></label>
								</td>
							</tr>

							<tr>
								<td>2</td>
								<td colspan="2">
									Thu nhập chịu thuế được miễn giảm theo hiệp định
								</td>
								<td style="text-align: left">
									<input value="0" type="number" id="thuNhapChiuThueMienGiam"
										name="thuNhapChiuThueMienGiam" style="width: 130px" />
									<br /><label style="color: red" id="loiMienGiam"></label>
								</td>
							</tr>

							<tr>
								<td rowspan="6">3</td>
								<td colspan="2">Tổng các khoản giảm trừ</td>
								<td style="text-align: left">
									<input value="0" disabled type="number" id="tongGiamTru" name="tongGiamTru"
										style="width: 130px" />
								</td>
							</tr>

							<tr>
								<td>a</td>
								<td>Cho bản thân</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruBanThan" name="giamTruBanThan"
										style="width: 130px" />
									<br /><label style="color: red" id="loiGiamTruBanThan"></label>
								</td>
							</tr>

							<tr>
								<td>b</td>
								<td>Cho người phụ thuộc</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruNguoiPhuThuoc" name="giamTruNguoiPhuThuoc"
										style="width: 130px" />
									<br /><label style="color: red" id="loiGiamTruNPT"></label>
								</td>
							</tr>

							<tr>
								<td>c</td>
								<td>Cho từ thiện, nhân đạo, khuyến học</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruTuThien" name="giamTruTuThien"
										style="width: 130px" />
									<label style="color: red" id="loiGiamTruTuThien"></label>
								</td>
							</tr>

							<tr>
								<td>d</td>
								<td>Các khoản đóng bảo hiểm được trừ</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruBaoHiem" name="giamTruBaoHiem"
										style="width: 130px" />
									<br /><label style="color: red" id="loiGiamTruBaoHiem"></label>
								</td>
							</tr>

							<tr>
								<td></td>
								<td>Khoản đóng quỹ hưu trí tự nguyện được trừ</td>
								<td style="text-align: left">
									<input value="0" type="number" id="giamTruHuuTri" name="giamTruHuuTri"
										style="width: 130px" />
									<br /><label style="color: red" id="loiGiamTruHuuTri"></label>
								</td>
							</tr>

							<tr>
								<td>4</td>
								<td colspan="2">Tổng thu nhập tính thuế</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thuNhapTinhThue" name="thuNhapTinhThue"
										style="width: 130px" />
								</td>
							</tr>

							<tr>
								<td>5</td>
								<td colspan="2">
									Tổng số thuế thu nhập cá nhân phát sinh trong kỳ
								</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thueThuNhapCaNhan"
										name="thueThuNhapCaNhan" style="width: 130px" />
								</td>
							</tr>

							<tr>
								<td colspan="3">
									Cá nhân không cư trú có thu nhập từ tiền lương, tiền công
								</td>
								<td style="text-align: left">
									<input type="checkbox" id="khongCuTru" />
								</td>
							</tr>

							<tr>
								<td>1</td>
								<td colspan="2">Tổng thu nhập tính thuế</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thuNhapTinhThueKCT"
										name="thuNhapTinhThueKCT" style="width: 130px" />
									<br /><label style="color: red" id="loiThuNhapKCT"></label>
								</td>
							</tr>

							<tr>
								<td>2</td>
								<td colspan="2">Mức thuế suất (%)</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="mucThueSuat" name="mucThueSuat"
										style="width: 130px" />
									<br /><label style="color: red" id="loiThueSuat"></label>
								</td>
							</tr>

							<tr>
								<td>3</td>
								<td colspan="2">Tổng số thuế thu nhập cá nhân phải nộp</td>
								<td style="text-align: left">
									<input disabled value="0" type="number" id="thueThuNhapCaNhanKCT"
										name="thueThuNhapCaNhanKCT" style="width: 130px" />
								</td>
							</tr>

							<tr>
								<td colspan="3"></td>
								<td>
									<input style="margin-left: 230px" type="button" value="Nộp tờ khai"
										id="btnNopToKhai" class="btn-fuction" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
	<div th:insert="fragment.html :: footer"></div>
</body>

</html>