<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragment.html :: header (pageTitle='Đăng nhập')"></head>

<body>
	<div class="main">
		<div th:insert="fragment.html :: sidebar"></div>
		<div class="content">
			<div class="title-nav">
				<span class="text_tt">Trang chủ » </span>
				<span class="red_b">Đăng nhập</span>
			</div>
			<form name="form-login" method="post" action="/dang-nhap">
				<div class="box_common_content">
					<table class="form_table">
						<tbody>
							<tr>
								<td style="text-align: right; width: 30%">Mã số thuế</td>
								<td style="text-align: left">
									<input type="text" id="username" name="username" value="" style="width: 358px" />
								</td>
							</tr>
							<tr>
								<td style="text-align: right; width: 30%">Mật khẩu</td>
								<td style="text-align: left">
									<input type="text" id="password" name="password" value="" style="width: 358px" />
								</td>
							</tr>
							<tr>
								<td></td>
								<td><input name="button-login" type="submit" class="inputBtn" onclick=""
										value="Đăng nhập"></td>
							</tr>
						</tbody>
					</table>
			</form>
		</div>
	</div>
	</div>
	<div th:insert="fragment.html :: footer"></div>
</body>

</html>